/*
Whisparr

Whisparr API docs

API version: 3.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package whisparr

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// CalendarFeedApiService CalendarFeedApi service
type CalendarFeedApiService service
type ApiGetFeedV3CalendarWhisparrIcsRequest struct {
	ctx context.Context
	ApiService *CalendarFeedApiService
	pastDays *int32
	futureDays *int32
	tagList *string
	unmonitored *bool
}

func (r ApiGetFeedV3CalendarWhisparrIcsRequest) PastDays(pastDays int32) ApiGetFeedV3CalendarWhisparrIcsRequest {
	r.pastDays = &pastDays
	return r
}

func (r ApiGetFeedV3CalendarWhisparrIcsRequest) FutureDays(futureDays int32) ApiGetFeedV3CalendarWhisparrIcsRequest {
	r.futureDays = &futureDays
	return r
}

func (r ApiGetFeedV3CalendarWhisparrIcsRequest) TagList(tagList string) ApiGetFeedV3CalendarWhisparrIcsRequest {
	r.tagList = &tagList
	return r
}

func (r ApiGetFeedV3CalendarWhisparrIcsRequest) Unmonitored(unmonitored bool) ApiGetFeedV3CalendarWhisparrIcsRequest {
	r.unmonitored = &unmonitored
	return r
}

func (r ApiGetFeedV3CalendarWhisparrIcsRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetFeedV3CalendarWhisparrIcsExecute(r)
}

/*
GetFeedV3CalendarWhisparrIcs Method for GetFeedV3CalendarWhisparrIcs

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGetFeedV3CalendarWhisparrIcsRequest
*/
func (a *CalendarFeedApiService) GetFeedV3CalendarWhisparrIcs(ctx context.Context) ApiGetFeedV3CalendarWhisparrIcsRequest {
	return ApiGetFeedV3CalendarWhisparrIcsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CalendarFeedApiService) GetFeedV3CalendarWhisparrIcsExecute(r ApiGetFeedV3CalendarWhisparrIcsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CalendarFeedApiService.GetFeedV3CalendarWhisparrIcs")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/feed/v3/calendar/whisparr.ics"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.pastDays != nil {
		localVarQueryParams.Add("pastDays", parameterToString(*r.pastDays, ""))
	}
	if r.futureDays != nil {
		localVarQueryParams.Add("futureDays", parameterToString(*r.futureDays, ""))
	}
	if r.tagList != nil {
		localVarQueryParams.Add("tagList", parameterToString(*r.tagList, ""))
	}
	if r.unmonitored != nil {
		localVarQueryParams.Add("unmonitored", parameterToString(*r.unmonitored, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["X-Api-Key"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Api-Key"] = key
			}
		}
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apikey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarQueryParams.Add("apikey", key)
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
